.card1{
    background-color: #049588;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    
}
.btn1{
    color: white;
    background-color: #f84434;
    border-radius: 8px;
}
.btn{
    background-color: #ff9800;
}
.card2{
    background-color: #049588;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    color: white;
}
.card3{
    border: solid 1px #049588;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    
}
.btn3{
    background-color: #f84434;
    border-radius: 8px;
}
.m{
    width: 50px;
    filter: invert(100%) sepia(71%) saturate(0%) hue-rotate(127deg) brightness(114%) contrast(100%);
}
.im4{
    width: 50px;
    
    filter: invert(82%) sepia(43%) saturate(7404%) hue-rotate(0deg) brightness(103%)
     contrast(102%);

}
.im2{
    
    
    width: 50px;
    filter: invert(41%) sepia(46%) saturate(5953%) hue-rotate(342deg) brightness(99%) contrast(96%);
    
}
.im3{
    width: 50px;
    
    filter: invert(50%) sepia(59%) saturate(6337%) hue-rotate(152deg) brightness(91%) contrast(97%);
}
.im5{
    
    width: 50px;

    
}
.cardpro{
    border: 1px solid #f84434;
}
.cardpro2{
    border: 1px solid  #049588; 
    width: 100%;
    height: 100%;
}
.cardmaketing{
    border: 1px solid #ff9800;
    width: 100%;
    height: 100%;
}
.cardentre{
    border: 1px solid  #049588;
    width: 100%;
    height: 100%;
}
.mark1{
    color: #ff9800;

}
.pr{
    color: #f84434;
}
.de{
    color: #049588;
}
.en{
    color: #049588;
}
.btn4{
    color: white;
   background-color: #f84434; 
    border-radius:  8px;
}
.m6{
    width: 100%;
    height: 100%;
}
.card5{
    border: 1px solid  #049588;
}
.bg{
    background-color: #f84434;
    color: white;

}
.footer{
    background-color: #049588;
    width: 100%;
    height: 100%;
    color: white;
}
